{% extends 'base.html' %}
{% block content %}
	<main class="main main--about">
		<p>
			Hello! I'm <i class="myname">Oackland Toro</i>, a budding web developer who underwent intensive
			training
			at the Coding
			Temple boot
			camp. My journey into the world of web development has endowed me with a broad spectrum of skills and an
			eagerness to apply them in real-world scenarios.
		</p>
		<p>
			During my rigorous training, I've delved deep into front-end technologies, harnessing the power of HTML,
			CSS, and JavaScript to craft intuitive and interactive user experiences. I've also got hands-on with Flask,
			allowing me to create robust server-side solutions.
		</p>
		<p>
			But that's not all! My expertise extends to modern JavaScript libraries and frameworks like React, ensuring
			that I can produce cutting-edge single-page applications. With a keen understanding of databases,
			particularly PostgresQL, I can efficiently handle data storage and retrieval operations. In essence, I'm
			well-equipped to tackle full-stack development projects, translating ideas into functional, efficient, and
			user-friendly web solutions.
		</p>
	</main>
{% endblock %}
