<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokemon Fetcher</title>
	<link rel="stylesheet" href="../static/css/pokemon.css">
</head>
<body>
<h2>Pokemon Cards JavaScript</h2>
<ul class="grid-item">
	<li>
		<article>
			<form id="pokemonForm">
				<input type="text" id="pokemonInput" placeholder="pokemon">
				<button type="submit">Search</button>
			</form>
			<div id="pokemonImageDiv">
			</div>
			<div id="pokemonStats">
			</div>
			<button id="toggleShiny">Toggle Shiny</button>
			<p id="searchInfo">Search a name to fetch the information</p>
		</article>
	</li>
</ul>
<script src="../static/js/pokemon.js"></script>
</body>
</html>
