<!DOCTYPE html>
<html lang="en">
<head>
	<title>DOM Manipulation Example</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
</head>
<body>

<h1 onclick="changeColor()" id="h1">This is a Heading 1</h1>

<div id="instructors">
	<p class="student">Student 1</p>
	<p class="student">Student 2</p>
	<p class="student">Student 3</p>
</div>

<div class="dylans-div" id="secondBtn">
</div>
<form>
	<input type="text" placeholder="pokemon">
	<button type="submit">Search</button>
</form>
<script src="../blueprints/pokemon-java/js/main.js">

</script>

</body>
</html>
